/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $montserrat-font;
  color: $base-black;
  background-color: $lightest-grey;
  margin: 0;
}
