.contacts__title {
  color: $base-primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.contacts__phone {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $base-black;
}
