.main-header {
  background-color: $base-white;
  padding: 12px 22px 9px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
